.about-section {
  display: flex;
  gap: 20px;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 271px;
  padding-bottom: 370px;
  margin-left: 76px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-text h3 {
  color: #3E4551;
  font-size: 77px;
  font-style: normal;
  font-weight: 800;
  line-height: 101.5px;
  /* 131.818% */
  text-transform: uppercase;
}

.about-text p {
  color: #000;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
  /* 145.161% */
  max-width: 797px;
}


.about-image {
  margin-left: auto;
  max-width: 960px;
  max-height: 1080px;
  display: flex;
  align-items: center;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 1308px) {
  .about-text h3 {
    text-align: center;
  }
}

@media (max-width: 1298px) {
  .about-section {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }

  .about-text {
    padding-bottom: 100px;
    margin: 0 auto;
    padding-top: 150px;
  }

  .about-image {
    margin: 0 auto;
  }
}

@media (max-width: 1190px) {
  .about-text h3 {
    font-size: 55px;
  }

  .about-text p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .about-text h3 {
    font-size: calc(77px * 0.6);
    line-height: calc(101.5px * 0.6);
  }

  .about-text p {
    font-size: calc(31px * 0.6);
    line-height: calc(45px * 0.6);
  }
}