.navbar {
  align-items: center;
  padding: 28px 34px;
  width: 100%;
}

.navbar .menu {
  display: flex;
  margin-left: auto;
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
}

.navbar .menu .menuitems {
  flex: .75;
  padding: 0 4%;
}

.navbar .menu .logo {
  flex: .25;
}

.navbar .menu>a {
  margin: 0 15px;
}

.navbar .logo img {
  width: 100%;
  min-width: 140px;
  max-width: 300px;
  margin: auto;

}

.navbar .menu a {
  color: #3E4551;
  font-size: 29px;
  text-align: center;
  font-weight: 500;
  line-height: 27.5px;
  /* 80.882% */
  flex-shrink: 0;
  white-space: nowrap;
}

.menuitems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

@media (max-width: 850px) {

  .navbar .menu a {
    font-size: 26px;
  }

  .navbar .menu .menuitems {
    padding: 0 3%;
  }
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .navbar .menu {
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
  }

  .navbar .menu .logo {
    width: 50%;
  }

  .navbar .logo img {
    min-width: 100px;
    max-width: 250px;

  }


  .navbar {
    padding: 28px 24px;
  }

  .navbar .menu a {
    font-size: 18px;
  }
}

@media (max-width: 667px) {
  .navbar .menu .menuitems {
    padding: 0 2%;
  }
}

@media (max-width: 600px) {
  .navbar .menu .menuitems {
    padding: 0 1%;
  }
}